[Unit]
Description=Start 7417 DSCC API Project

[Service]
WorkingDirectory=/var/www/DSCC_7417_API_APP
ExecStart=/usr/bin/dotnet /var/www/DSCC_7417_API_APP/DSCC.7417.API.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=7417API
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=HOME=/root

[Install]
WantedBy=multi-user.target
